<body>

  <h1> New multiplication </h1>

  <form>
  <label>Multiply this:</label>
  <input name= "first_num">

  <label>by this:</label>
  <input name= "second_num">

  <button> Multiply!
  </button>
  </form>
</body>