<body>

  <h1> New multiplication </h1>

  <form>
  <span>Multiply this:</span>
  <input name= "first_num">

  <span>by this:</span>
  <input name= "second_num">

  <button> Multiply!
  </button>
  </form>
</body>