<body>

  <h1> New subtraction </h1>

  <form>
  <la>Subtract this:</la>
  <input name= "first_num">

  <la>from this:</la>
  <input name= "second_num">

  <button> Subtract!
  </button>
  </form>
</body>