<body>

  <h1> New subtraction </h1>

  <form>
  <span>Subtract this:</span>
  <input name= "first_num">

  <span>from this:</span>
  <input name= "second_num">

  <button> Subtract!
  </button>
  </form>
</body>